.container.range-plugin .calendar>.days-grid>.day.end, .container.range-plugin .calendar>.days-grid>.day.start {
  background-color: #00214A;
  color: #FFFFFF;
}

.calendar>.days-grid>.day:hover {
  border: none;
  background-color: #00214A !important;
  color: #FFFFFF;
}
